.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  background-color: #fff;
  width: 100%;
}

.header-wrapper, .bolt-theme-wrapper, .iphone-wrapper{ margin: 0 auto; }

.header-wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.fa-bolt-color {
  padding: 15px 10px;
  color: #7e7e7e;
}

.bolt-theme {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  padding-bottom: 20px;
}

.bolt-sub-theme {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.contact-btn-wrapper { 
  float: right;
  padding: 0 20px 0 0;
}

.contact-btn {
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  outline: none;
  margin-top: 25%;
}

.iphone-img {
  width: 208px;
  height: 295px;
  margin: auto auto 20px;
  background: url(../img/iphone.png) no-repeat;
}

.can_do-txt {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin: 0 ;
}

.latest-img1, .latest-img2, .latest-img3, .latest-img4, .latest-img5, .latest-img6 {
  width: 300px;
  height: 300px;
  margin: 0 auto 80px;
}

.latest-img1 { background: url(../img/01.jpg) no-repeat; }

.latest-img2 { background: url(../img/02.jpg) no-repeat; }

.latest-img3 { background: url(../img/03.jpg) no-repeat; }

.latest-img4 { background: url(../img/04.jpg) no-repeat; }

.latest-img5 { background: url(../img/05.jpg) no-repeat; }

.latest-img6 { background: url(../img/06.jpg) no-repeat; }

.latest-opacity { opacity: 0.7; }

.latest-opacity:hover { opacity: 1; }

.latest-txt {
  line-height: 20px;
  text-align: center;
  font-size: 17px;
  color: #333;
}

.latest-btn {
  font-size: 12px;
  padding: 14px 40px;
  background-color: #74cfae;
  color: #fff;
  vertical-align: top;
}

.latest-btn:hover { color: #333; }

.latest-footer {
  text-align: center;
  font-size: 0;
}

.skills-img1 { background: url(../img/circle_01.png); }

.skills-img2 { background: url(../img/circle_02.png); }

.skills-img3 { background: url(../img/circle_03.png); }

.skills-img4 { background: url(../img/circle_04.png); }

.skills-img1, .skills-img2, .skills-img3, .skills-img4 {
  width: 122px;
  height: 122px;
}

.sns-icn {
  width: 185px;
  height: 100px;
  color: #74cfae;
  letter-spacing: normal;
  display: inline-block;
}

.sns-img1 { position: relative; }

.sns-img2 { position: relative; }

.sns-img3 { position: relative; }

.sns-img4 { position: relative; }

.sns-icn:hover {
  width: 185px;
  height: 100px;
  background-color: #fff;
}

.footer-wrapper {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0;
}

.footer-container { margin-right: 10px; }

.footer-txt {
  margin-right: 10px;
  text-align: right;
}

/*--pc--*/
@media screen and ( min-width: 1200px )
{
.header-wrapper, .iphone-wrapper{ margin: 0 auto; }

.header-container {
  width: 1200px;
  margin: 0 auto;
}

.bar-container { display: none; }

.bolt-theme-wrapper {
  padding: 250px 0;
  margin-top:  78.4px;
  background-color: #f2f2f2;
}

.bolt-sub-theme {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.iphone-wrapper {
  padding-top: 50px;
  background-color: #74cfae;
  width: 100%;
  height: 295px;
}

.iphone-container {
  width: 1200px;
  margin: 0 auto;
}

.iphone-img {
  float: left;
  width: 208px;
  height: 295px;
  margin-left: 150px;
  background: url(../img/iphone.png) no-repeat;
  display: inline-block;
}

.can_do-container {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 645px;
  margin-left: 150px;
}

.can_do-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}

.latest-work-wrapper {
  padding: 60px 0 70px;
  background-color: #f2f2f2;
}

.latest-work-title {
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333;
}

.latest-work-col {
  width: 1100px;
  margin: 0 auto;
  font-size: 0;
}

.latest-img1, .latest-img2, .latest-img3, .latest-img4, .latest-img5, .latest-img6 {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.latest-img1, .latest-img2, .latest-img4, .latest-img5 { margin-right: 100px; }

.latest-txt-container {
  width: 515px;
  display: inline-block;
  margin-right: 90px;
}

.our-skills-wrapper {
  padding: 70px 0 100px;
  background-color: #4e4e4e;
}

.our-skills-title {
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding-bottom: 70px;
}

.skills-img-wrapper {
  width: 1028px;
  margin: 0 auto;
  font-size: 0;
}

.skills-circle-container { display: inline-block; }

.skills-img1, .skills-img2, .skills-img3 { margin-right: 180px; }

.circle-txt1,.circle-txt2,.circle-txt3 {
  font-size: 16px;
  margin: 20px 0 0 8%;
  color: #fff;
}

.circle-txt4 {
  font-size: 16px;
  margin: 20px 0 0 18%;
  color: #fff;
}

.sns-wrapper {
  padding: 200px 0;
  background-color: #f2f2f2;
}

.sns-container {
  text-align: center;
  letter-spacing: -5px;
}

.sns-position1 {
  position: absolute;
  top: 25%;
  left: 45%;
}

.sns-position2 {
  position: absolute;
  top: 25%;
  left: 39%;
}

.sns-position3 {
  position: absolute;
  top: 25%;
  left: 38%;
}

.sns-position4 {
  position: absolute;
  top: 25%;
  left: 37%;
}
}
/*--pad--*/
@media screen and ( min-width: 767px ) and ( max-width: 1200px )
{
.header-container { margin: 0 auto; }

.bar-container { display: none; }

.contact-btn-wrapper { float: right; }

.bolt-theme-wrapper {
  margin-top: 78.4px;
  padding: 250px 0;
  background-color: #f2f2f2;
}

.iphone-wrapper {
  padding-top: 50px;
  background-color: #74cfae;
  width: 100%;
}

.iphone-container { margin: 0 auto; }

.can_do-container {
  color: #fff;
  display: inline-block;
  margin: 0 20px;
}

.can_do-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}

.can_do-txt {
  padding-bottom: 25px;
  margin: 20px;
}

.latest-work-wrapper {
  padding: 60px 0 70px;
  background-color: #f2f2f2;
}

.latest-work-title {
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333;
}

.latest-img1, .latest-img2, .latest-img4, .latest-img5 { margin-bottom: 0; }

.latest-work-col {
  margin: 0 auto;
  font-size: 0;
}

.latest-footer { margin: 0 20px; }

.latest-txt { margin: 0 20px 40px; }

.our-skills-wrapper {
  padding-top: 70px;
  background-color: #4e4e4e;
}

.our-skills-title {
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding-bottom: 70px;
}

.skills-img-wrapper {
  width: 122px;
  margin:0 auto;
  font-size: 0;
}

.skills-circle-container { padding-bottom: 88px; }

.circle-txt1,.circle-txt2,.circle-txt3 {
  font-size: 16px;
  margin: 20px 0 0 20%;
  color: #fff;
}

.circle-txt4 {
  font-size: 16px;
  margin: 20px 0 0 18%;
  color: #fff;
}

.sns-wrapper {
  padding: 200px 0;
  background-color: #f2f2f2;
}

.sns-container {
  text-align: center;
  letter-spacing: -5px;
}

.sns-position1 {
  position: absolute;
  top: 25%;
  left: 45%;
}

.sns-position2 {
  position: absolute;
  top: 25%;
  left: 39%;
}

.sns-position3 {
  position: absolute;
  top: 25%;
  left: 38%;
}

.sns-position4 {
  position: absolute;
  top: 25%;
  left: 37%;
}
}
/*--sp--*/
@media screen and ( max-width: 767px )
{
.header-container { margin: 0 auto; }

.bar-container {
  float: right;
  top: 20px;
  right: 10px;
  position: relative;
  height: 12px;
  width: 20px;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toggle-bar {
  position: absolute;
  display: inline-block;
  width:20px;
  height:2px;
  background-color: #ddd;
}

.toggle-bar:nth-child(1) { top: 10px; }
.toggle-bar:nth-child(2) { top: 15px; }
.toggle-bar:nth-child(3) { top: 20px; }

.contact-btn-wrapper {
  display: none;
  width: 100%;
}

.contact-btn {
  width: 100%;
  position: absolute;
  bottom: -40px;
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  text-align: left;
}

.bolt-theme-wrapper {
  margin-top: 78.4px;
  padding: 160px 0 130px;
  background-color: #f2f2f2;
}

.iphone-wrapper {
  padding-top: 50px;
  background-color: #74cfae;
  width: 100%;
}

.iphone-container { margin: 0 auto; }

.can_do-container { color: #fff; }

.can_do-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}

.can_do-txt {
  padding-bottom: 25px;
  margin: 0 20px;
}

.latest-work-wrapper {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
}

.latest-work-title {
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #333;
}

.latest-img1, .latest-img2, .latest-img4, .latest-img5 { margin-bottom: 0; }

.latest-work-col{
  margin: 0 auto 80px;
  font-size: 0;
}

.latest-txt { margin: 0 20px 40px; }

.our-skills-wrapper {
  padding-top: 70px;
  background-color: #4e4e4e;
}

.our-skills-title {
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding-bottom: 70px;
}

.skills-img-wrapper {
  width: 122px;
  margin:0 auto;
  font-size: 0;
}

.skills-circle-container { padding-bottom: 88px; }

.circle-txt1,.circle-txt2,.circle-txt3 {
  font-size: 16px;
  margin: 20px 0 0 20%;
  color: #fff;
}

.circle-txt4 {
  font-size: 16px;
  margin: 20px 0 0 18%;
  color: #fff;
}

.sns-wrapper {
  padding: 50px 0;
  background-color: #f2f2f2;
}

.sns-container {
  margin: 0 15px;
}

.sns-icn {
  width: 100%;
  display: table;
}

.sns-icn:hover {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.sns-position1, .sns-position2, .sns-position3, .sns-position4 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
}